* {margin: 0; padding: 0; box-sizing: border-box; font-family: "Inter", sans-serif; color: #fff;}

html {font-size: 62.5%;}

#Div-One {width: 100vw; display: flex; background-color: rgb(22, 22, 22);
justify-content: center; align-items: center; display: flex; min-height: 100vh;}

.MainDiv {width: 420px; height: 700px; background: rgb(34, 34, 34); border-radius: 15px; text-align: center; display: flex;
  align-items:center; flex-direction: column; justify-content: center;}

.ImageContainer {margin-top: 30px; margin-bottom: 30px;}

.ImageContainer img {border-radius: 50%; width: 100px;}

h1 {margin-bottom: 13px; font-weight: 500; font-size: 3.5rem;}

h1+p {color: hsl(75, 94%, 57%); margin-bottom: 30px; font-weight: 500; font-size: 1.6rem;}

#Div-One .maintext {font-size: 14px; margin-bottom: 30px; color: rgb(174, 174, 174);}

ul {list-style: none; width: 100%;}

.button {width: 80%; height: 50px; border-radius: 10px; background-color: rgb(49, 49, 49); border: none; margin-bottom: 10px;
transition: all ease-in-out 600ms;}

.button:hover{background: rgb(51, 247, 33); color: rgb(19, 19, 19); cursor: pointer;}

button {font-weight: 700; font-size: 1.6rem; text-decoration: none;}